[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
pillow = "*"
django-crispy-forms = "*"
python-decouple = "*"
dj-database-url = "*"
dj-static = "*"

[requires]
python_version = "3.8.2"
