{% extends 'base.html' %}
{% block content %}
<div class="center">
    <h1>Answer The Question</h1>
    <hr>
    <table class="table">
       <thead class="thead-dark">
        <tr>
            <th scope="col">Question</th>
            <th scope="col">Degree</th>
        </tr>
        <tbody>
            {% for qz in quiz %}
            <tr>
                <th>To what extent do I like to {{ qz.quiz}}</th>
                <th>
                    <input type="range" id="{{qz.id}}" name="points1" min="0" max="5" setp="1" value="0" onchange="setVal()">
                    <sapn id = "val{{qz.id}}" />
                    <!-- <input id={{qz.quiz}} type="text" data-slider-min="-5" data-slider-max="20" data-slider-step="1" data-slider-value="3"/>
                    <span id="ex6CurrentSliderValLabel">Current Slider Value: <span id="ex6SliderVal">3</span></span> -->
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>

    <div class="pagination" style="display:block">
        <span class="step-links">
            {% if quiz.has_previous %}
            <!-- <a href="?page=1">&laquo; first</a> -->
            <a href="?page={{ quiz.previous_page_number }}" style="margin-right: 30px">
                <button type="button" class="btn btn-outline-primary">Prev</button>
            </a>
            {% else %}
            <a href="javascript:void(0);" style="margin-right: 30px">
                <button type="button" class="btn btn-outline-primary" disabled>Prev</button>
            </a>
            {% endif %}

            <span class="current">
                Page {{ quiz.number }} of {{ quiz.paginator.num_pages }}
            </span>

            {% if quiz.has_next %}
            <a href="?page={{ quiz.next_page_number }}" style="margin-left: 30px">
                <button type="button" class="btn btn-outline-primary">Next</button>
            </a>
            {% else %}
            <a href="javascript:void(0);" style="margin-left: 30px">
                <button type="button" class="btn btn-outline-primary" disabled>Next</button>
            </a>
                <!-- <a href="?page={{ quiz.paginator.num_pages }}">last &raquo;</a> -->
            {% endif %}
        </span>
    </div>
    <!-- <button type="button" class="btn btn-outline-primary" style="margin-right: 30px">Prev</button>
    <button type="button" class="btn btn-outline-primary" style="margin-left: 30px">Next</button> -->
    <!-- <a href="{% url 'create' %}">Create new user</a> -->
</div>
{% endblock %}
