{% extends 'base.html' %}
{% block content %}
<div class="center">
    <h1>Answer The Question</h1>
    <hr>
    {{quiz.page_range}}
    <table class="table">
       <thead class="thead-dark">
        <tr>
            <th scope="col">Question</th>
            <th scope="col">Degree</th>
        </tr>
        <tbody>
            {% for qz in quiz %}
            <tr>
                <th>To what extent do I like to {{ qz.quiz}}</th>
                <th>
                    <input type="range" id="customRange" name="points1" min="0" max="5" setp="1" value="0" onchange="setVal">
                    <sapn id = "dereeVal" />
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <button type="button" class="btn btn-outline-primary" style="margin-right: 30px">Prev</button>
    <button type="button" class="btn btn-outline-primary" style="margin-left: 30px">Next</button>
    <!-- <a href="{% url 'create' %}">Create new user</a> -->
</div>

{% endblock %}
